/* src/pages/DemoControlCenter.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing);
}

button.button {
  margin-bottom: var(--spacing);
}

.card {
  margin-top: var(--spacing);
}
